@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>@Html.DisplayFor(model => model.Name)'s Details</h2>

<div class="box">
  <h4>Phone number: @Html.DisplayFor(model => model.Phone)</h4>
  <h4>Hours: @Html.DisplayFor(model => model.Hours)</h4>

  @if (@Model.Clients.Count == 0)
  {
    <p>No clients found for this stylist</p>
  }

  @foreach (Client client in @model.Clients)
  {
    <p>@client.Name</p>
  }

  <p>@Html.ActionLink("Back to Stylist List", "Index")</p>
  <p>@Html.ActionLink("Edit this stylist", "Edit", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Delete this stylist", "Delete", new { id = Model.StylistId })</p>
</div>