@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>@Html.DisplayFor(model => model.Name)'s Details</h2>

<div class="box">
  <h4>Phone number: <span class="info">@Html.DisplayFor(model => model.Phone)</span></h4>
  <h4>Hours: <span class="info">@Html.DisplayFor(model => model.Hours)</span></h4>
  <h4>Clients:</h4>
  @if (@Model.Clients.Count == 0)
  {
    <p class="info">No clients found for this stylist</p>
  }

  @foreach (Client client in @Model.Clients)
  {
    <h3 class="info">@Html.ActionLink(@client.Name, "Details", "Clients", new { id = client.ClientId })</h3>
  }

  <hr />
  <h4>@Html.ActionLink("Add a client", "Create", "Clients")</h4>
  <hr />
  <p>@Html.ActionLink("Edit this stylist", "Edit", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Delete this stylist", "Delete", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Back to all stylists", "Index")</p>
  <p>@Html.ActionLink("Back to homepage", "Index", "Home")</p>

</div>