@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>@Html.DisplayFor(model => model.Name)'s Details</h2>

<div class="box">
  <h3>Phone number: @Html.DisplayFor(model => model.Phone)</h3>
  <h3>Stylist: @Html.DisplayFor(model => model.Stylist.Name)</p>
  </h3>

  <p>@Html.ActionLink("Edit this client", "Edit", new { id = Model.ClientId })</p>
  <p>@Html.ActionLink("Delete this client", "Delete", new { id = Model.ClientId })</p>
  <p>@Html.ActionLink("Show all clients", "Index")</p>
  <p>@Html.ActionLink("Show all stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("Return to homepage", "Index", "Home")</p>
</div>